* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-image: url('IMG/IMG-20240122-WA0028.jpg');
}
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 13vh;
  background: white;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.6);
}
nav {
  display: flex;
  align-items: center;
  gap: 4vh;
}
.nav-items {
  display: flex;
  align-items: center;
  gap: 4vh;
}

.nav-items p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 2.2vh;
}
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12vw;
  height: 6vh;
  border: 2px solid black;
  background: rgb(250, 249, 246);
  color: black;
  border-radius: 20px;
  font-family: sans-serif;
  cursor: pointer;
  font-size: 2.8vh;
  font-weight: 500;
}
#hover :hover {
  background: black;
  color: white;
}
/*  */
.block {
  cursor: pointer;
}

.block:hover + .hide {
  display: block;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  cursor: pointer;
  background: white;
  position: absolute;
  left: 8cm;
  top: 12.9vh;
  z-index: 1;
  padding: 10px;
}
.hide {
  display: none;
}

.hide p {
  font-size: 2vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger-menu {
  display: none;
  font-size: 5vh;
  cursor: pointer;
}
.RemoveBg {
  display: block;
  cursor: pointer;
}
#About {
  cursor: pointer;
  color: white;
  border-radius: 5px;
  background: black;
  padding: 3px;
}
.hidden {
  display: none;
}

main {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.maindiv {
  background-color: black;
  width: 42vw;
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
  text-align: center;
  color: white;
}

.maindiv h1 {
  font-size: 4vh;
  font-weight: bold;
  margin-bottom: 4px;
}

.maindiv p {
  margin-bottom: 8px;
  font-family: sans-serif;
}

.break {
  display: none;
}

.click {
  display: flex;
  align-items: center;
  gap: 4vh;
}

.click button {
  cursor: pointer;
  background: blue;
  width: 37vw;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6vh;
  border: 0;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 2.5vh;
  color: white;
}

.error {
  color: red;
}

/* phone-view */
@media (max-width: 450px) {
  header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 13vh;
    background: white;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.6);
  }

  .block {
    cursor: pointer;
  }

  .block:hover + .hide {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
    cursor: pointer;
    background: blue;
    color: white;
    position: absolute;
    left: 0;
    top: 22.9vh;
    z-index: 1;
    padding: 20px;
  }
  .hide {
    display: none;
  }

  .hide p {
    font-size: 2vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .nav-items,
  .login {
    display: none;
  }
  .RemoveBg {
    display: none;
  }
  .flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
  .hidden {
    display: flex;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 3vh;
  }
  .hamburger-menu {
    display: block;
  }

  nav {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .nav-items.mobile-active {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 3vh;
    position: absolute;
    top: 13vh;
    left: 0;
    width: 94.5%;
    padding-left: 20px;
    height: 43vh;
    padding-bottom: 8vh;
    background: white;
    box-shadow: 0 4px 5px 0 #00000099;
  }
  .login.mobile-active {
    display: flex;
    position: absolute;
    margin-left: 80px;
    cursor: pointer;
    top: 50vh;
    width: 50vw;
    margin-top: 20px;
  }

  .maindiv {
    background-color: black;
    width: 93vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    text-align: center;
    color: white;
  }

  .maindiv h1 {
    font-size: 3.8vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
      sans-serif;
    font-weight: bold;
    margin-bottom: 6px;
  }

  .maindiv p {
    margin-bottom: 10px;
    font-family: sans-serif;
    font-weight: 200;
    color: rgb(153, 150, 150);
    font-size: 2.5vh;
  }
  .break {
    display: block;
  }
}
